$bg-color = #efefef
$color = #ffffff
$text-color = #404040
$text-light-color = #606060
$primary-color = #5581f1
$primary-middle-color = #3263df
$primary-dark-color = #0843ec
$success-color = #15a070
$danger-color = #da504b
$transition = .5s